.background {
    background-image: url(../img/header.png);
}

.titleSection {
    text-align: center;
    margin-bottom: 20px;
}


.title {
    font-family: 'Audiowide', cursive;
    color: #0E3746;
    font-size: 105px;
    padding-top: 10%;
    margin: 10px;       
}

.subtitle {
    font-family: 'Philosopher', sans-serif;
    font-weight: normal;
    color: whitesmoke;
    font-size: 46px;
    margin-bottom: 0%;
}

.scrollButton {
    width: 50px;
    height: 100px;
    border-radius: 10pc;
    background-color: unset;
    border: 5px solid whitesmoke;
    position: relative;
}

.scrollButton:hover {          
    opacity: 70%;
}

.scrollButton:focus {
    outline: 0;
    opacity: 30%;
}


.span1 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: whitesmoke;
    position: absolute;
    top: 54px;
    left: 5px;
}
/*****************************/

.howQuizWorksSection1 {
    background-color: white;
    height: 700px;
    padding-top: 8px;
}

.textStyle {
    text-align: center;
    font-size: 45px;
    font-family: 'Philosopher', sans-serif;
    color: #0E3746;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 8px;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.grid-item {
    padding: 15px;
    font-size: 31px;
    text-align: center;
    
} 

.howQuizWorksSection2 {
    height: 600px;
    border: 2px solid #2291FF;
    background-color: #2291FF;
}

.quizStracture {
    border: 2.5px solid white;
    border-radius: 5px;
    height: 350px;
    width: 550px;
}

.window {
    width: 455px;
    height: 90px; 
    border: 1px solid white;
    margin: 10px; 
    border-radius: 5px;
    background-color: rgb(236, 236, 236);
    opacity: 80%;
} 

.answer {
    width: 255px;
    height: 55px; 
    border-radius: 5px;
    text-align: center;
}

.answer button {
    color: black; 
    border: 0;
    width: 260px;
    font-size: 20px;
    margin-left: 25px;
    height: 40px;
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;
    background-image: linear-gradient(to top left,rgba(0, 0, 0, .2));
}
     
.takeQuizNow {
    background-color:whitesmoke;
    border-radius: 150px 0 150px 0;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 100px;
    position: relative;
}

.takeQuizNowTitle {
    box-shadow: 0px 0px 16px 3px rgb(14 14 14 / 12%);
    background-color: #7F8690;
    border-radius: 20px;
    width: 700px;
    color: whitesmoke;
    align-self: center;
    justify-self: start;
    font-size: 30px;
    padding: 20px 0;
}

.boxes {
    display: flex;
    justify-content: center;
    justify-self: center;
    width: 100%;
}

.boxes > * {
    width: 200px;
    height: 300px;
    border-radius: 20px;
    margin: 30px 20px;
    color: whitesmoke;
    font-size: 30px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    box-shadow: 0px 0px 16px 3px rgb(14 14 14 / 12%);
}

.boxes > * span {
    align-self: start;
    font-size: 15px;
    padding-bottom: 20px;
    padding-left: 12px;
}

.boxes > * button {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
}

.boxes > * button:hover {
    opacity: 80%;
}

.box1 {
    background-color: #FFA45B;
}
.box2 {
    background-color: #D35D6E;
}
.box3 {
    background-color: #775f8d;
}

.shape {
    position: absolute;
    top: 155px;
}

.circle {
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: whitesmoke;
    border-radius: 50%;
    border:  dimgray solid 0.000005px;
}

.stick {
    position: absolute;
    width: 5px;
    left: 0.5px;
    top: 4px;
    height: 65px;
    background-color: dimgray;
}

.buttomC {
    top: 65px;
}

.sh1 {
    left: 355px;
}

.sh2 {
    left: 505px;
}

.sh3 {
    left: 595px;
}

.sh4 {
    left: 750px;
}

.sh5 {
    left: 835px;
}

.sh6 {
    left: 985px;
}