fieldset {
    width: 380px;
    border-radius: 12px;
    border-color: white;
    height: 80px;
    position: relative;
    bottom: 35px;
}
.form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}
.form-control.error i.fa-exclamation-circle {
    color: #ff0000;
    visibility: visible;
}
.form-control.error small {
    visibility: visible;
}

.form-control i {
    visibility: hidden;
    position: absolute;
    font-size:xx-large;
    top: 12px;
    right: 10px;
}
.form-control small {
    color: #ff0000;
    font-size:large;
    position: absolute;
    top: 60px;
    bottom: 25px;
    left: 10px;
    visibility: hidden;
}
.form-control.error  {
    border-color: #e74c3c;
    visibility: visible;
}
.form-control.success {
    border-color: #2ecc71;
    visibility: visible;
}
input {
    outline: 0;
    display: block;
    font-family: inherit;
    font-size: 20px;
    width: 350px;
    border: none;
    outline: none;
    position: relative;
    background: none;
    top: 10px;
}
.showBtn{
    position: absolute;
    left: 270px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    font-size: 600;
    display: none;
}
.indicator{    
    position: absolute;
    top: 292px;
    height: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none;
}
form .indicator span{
    height: 10px;
    width: 110px;
    border-radius: 100px;
}
.active.Weak{
    position: absolute; 
    left: 20px;
    background: red;
}
.active.medium{
    position: absolute; 
    left: 140px;
    background: orange;
}
.active.strong{
    position: absolute; 
    left: 260px;
    background: #23ad5c;
}
.text{
    position: absolute;
    left: 90px;
    top:306px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: -10px;
    display: none;
}
.text.Weak{
    color: red;
}
.text.medium{
    color: orange;
}
.text.strong{
    color: #23ad5c;
}
.form-control input:focus {
    outline: 0;
    border-color: none;
}
legend {
    color: white;
    font-family: Verdana;
}

img {
    width: 320px;
    position: relative;
    top: 90px;
    left: 300px;
    transform: rotate(5deg);
}
#signup{
    right: 150px;
    }

.login ,#signup{
    position: relative;
    float: right;
    bottom: 250px;
    right: 300px;
}

#paragraph {
    color: white;
    position: relative;
    left: 90px;
    bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

#password {
    position: relative;
    float: right;
    bottom: 25px;
    color: black;
    font-size:20px;
    text-decoration: none;
}

button {
    width: 380px;
    height: 60px;
    border-radius: 12px;
    color: white;
    background-color: black;
    font-size: 25px;
    border:none;
    position:fixed;
    top:520px;
}

#account {
    color: white;
    position: relative;
    left: 90px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    top: 10px;
}

.sign {
    display: inline-block;
    color: black;
    text-decoration: none;
    font-size:20px;
}
#textunderform{
    color: white;
    position: relative;
    top:25px;
    right:5px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}