html {
     scroll-behavior: smooth;
}

.titleSection {
     text-align: center;
}

.title {
     font-family: 'Audiowide', cursive;
     color: #0E3746;
     font-size: 105px;
     padding-top: 10%;
     margin: 10px;       
}

.subtitle {
     font-family: 'Philosopher', sans-serif;
     font-weight: normal;
     color: whitesmoke;
     font-size: 46px;
}

.scrollButton {
     width: 50px;
     height: 100px;
     border-radius: 10pc;
     background-color: unset;
     border: 5px solid whitesmoke;
     position: relative;
}

.scrollButton:hover {          
     opacity: 70%;
}

.scrollButton:focus {
     outline: 0;
     opacity: 30%;
}


.span1 {
     width: 30px;
     height: 30px;
     border-radius: 50%;
     background-color: whitesmoke;
     position: absolute;
     top: 54px;
     left: 5px;
}

.howQuizWorksSection1 {
     background-color: white;
     height: 700px;
     padding-top: 8px;
}

.textStyle {
     text-align: center;
     font-size: 45px;
     font-family: 'Philosopher', sans-serif;
     color: #0E3746;
}

.grid-container {
     display: grid;
     grid-template-columns: auto auto auto;
     padding: 8px;
}

.flex {
     padding: 20px;
     display: flex;
     min-height: 85vh;
     margin: 0 0 100px 0;
     justify-content: space-around;
}

.grid-item {
     padding: 15px;
     font-size: 31px;
     text-align: center;
} 

.howQuizWorksSection2 {
     height: 600px;
     border: 2px solid #2291FF;
     background-color: #2291FF;
}

.quizStracture {
     border: 2.5px solid white;
     border-radius: 5px;
     height: 350px;
     width: 550px;
}

.stracture {
     margin-left: 225px;
     font-size: 20px;
}

.window {
     width: 455px;
     height: 90px; 
     border: 1px solid white;
     margin: 10px; 
     border-radius: 5px;
     background-color: rgb(236, 236, 236);
     opacity: 80%;
} 

.answer {
     width: 255px;
     height: 55px; 
     border-radius: 5px;
     text-align: center;
}

.answer button {
     color: black; 
     border: 0;
     width: 260px;
     font-size: 20px;
     margin-left: 25px;
     height: 40px;
     margin-top: 10px;
     text-align: center;
     border-radius: 10px;
     background-image: linear-gradient(to top left,rgba(0, 0, 0, .2));
}
      
